%btn{
    padding: 10px 25px;
    background: $primary-color;
    color: black;
    border: none;
    font-size: 9.5px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 100;
}



.btn{
    @extend %btn;
}


.btn-border{
    @extend %btn;
    position: relative;


    &::after{
        content: '';
        position: absolute;
        top: 7px;
        left: -7px;
        bottom: -7px;
        right: 7px;
        display: inline-block;
        border: 2px solid $primary-color;
    }
    &:hover{

    }
    &:hover::after{
        animation-name: borderBtnAnimation;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        // background: $primary-color;
        z-index: -1;
        
    }


}


// btn animation
@keyframes borderBtnAnimation{
    from{
        top: 7px;
        left: -7px;
        bottom: -7px;
        right: 7px;
    }
    to{
        top: -7px;
        left: 7px;
        bottom: 7px;
        right: -7px;
    }
}
