$primary-color : 	rgb(130, 244, 211);
$secondary-color : 	rgb(146, 146, 146);
$bigger-font : 16px;
$medium-font : 14px;
$smaller-font : 12px;
$mobile-padding: 15px;
$tablet-padding:30px;
$des-padding: 60px;
